.navbar {
  background-color: #163f3cff;
  display: flex;
 
  justify-content: space-between;
  align-items: center;
 

  color: white;
  position: sticky ;
  top: 0  ;
  padding: 10px 0px;
  
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  
}
.nav-logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #163f3c;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  margin-left: 15px;
}


.nav-link:hover {
  color: #6fcf74ff;
  text-decoration: underline;
  text-decoration-color: #6fcf74ff;
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;

}
 

.nav-input {
  
  border-radius: 10px;
  border: none;
  outline: none;
  
}

.nav-button {
  background-color: #6fcf74ff;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 9px;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #57a95cff;
}
.cart-count {
  color: white;
  margin-left: 3px;
}